*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    background-color: #bbc6c9;
    height: 25px;
    font-family: 'Dosis', sans-serif;
    border-bottom: 1px outset #bbc6c9;
}

ul{
    list-style: none;
    display: flex;
    flex: 1;
    padding-top: 3px;
    margin-left: 10px;
}

li{
    width: 60px;
    float: left;
    cursor: pointer;
    text-align: center;
}

button{
    width: 50%;
    height: 30px;
    border: 1px outset;
    background-color: #bbc6c9;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px black;
}

img{
    width: 20px;
}

canvas{
    position: absolute;
    top: 25px;
    left: 70px;
    /* background-color: black; */
    /* width: 80%; */
}

button.color{
    position: relative;
    background-color: blue;
    height: 15px;
    width: 15px;
    border: 0.5px inset #e3e6e7;
}

.pressed{
    height: 40px;
    width: 40px;
    border: 1px inset white;
    background-color: #e3e6e7;
    margin-left: 28px;
    margin-top: 15px;
}   

#sidebar{
    height: 81vh;
    width: 70px;
    border-right: 1px outset #bbc6c9;
    padding-top: 20px;
    border-top: 1px outset #eaedee;
}

#buttons{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5px;
    margin-right: 5px;
}

#color-select{
    height: 80px;
    width: 50px;
    position: relative;
    top: 250px;
    left: 10px;
    border-bottom: 1px solid rgb(230, 228, 228);
    border-right: 1px solid rgb(230, 228, 228);
    border-left: 1.5px solid rgb(177, 177, 177);
    border-top: 1.5px solid rgb(177, 177, 177);
}

#bottom{
    position: relative;
    top: 0;
    height: 75px;
    border-top: 1px outset #eaedee;
    display: flex;
}

#foreground{
    height: 18px;
    width: 18px;
    left: 4px;
    top: 3px;
    z-index: 2;
    border: 1px solid #e3e6e7; 
}

#background{
    height: 18px;
    width: 18px;
    left: 12px;
    bottom: 7px;
    border: 1px solid #e3e6e7;
}

#color-palette{
    width: 260px;
    height: 40px;
    /* border: 1px inset white; */
    /* background-color: #e3e6e7; */
    margin-left: 3px;
    margin-top: 15px;
}